<div class="notFoundContainer">
    <div class="background404"></div>
    <div class="textContent">
        <h1 class="notFoundH1">404</h1>
        <h2 class="notFoundH2">Oops. This page has gone missing</h2>
        <h5 class="notFoundH5">Yous may have mistyped the address or the page may have removed</h5>
        <a href="/">
            <button class="button404">Back to Home</button>
        </a>
    </div>
</div>
