<div class="home_dashboard">
    <div class="mainDashboard">
        <%- include('partials/sidebar') %>
        <div class="dashBoardView">
            <h3>Dashboard</h3>
            <div class="blocks">
                <div class="col-3 block">
                    <div class="info">
                        <div class="number">5000</div>
                        <div class="title">Total Vehicles</div>
                    </div>
                    <div class="icon">
                        <i class="fa-solid fa-car"></i>
                    </div>
                </div>
                <div class="col-3 block">
                    <div class="info">
                        <div class="number">5000</div>
                        <div class="title">Total Licenses</div>
                    </div>
                    <div class="icon">
                        <i class="fa fa-home"></i>
                    </div>
                </div>
                <div class="col-3 block">
                    <div class="info">
                        <div class="number">5000</div>
                        <div class="title">Total Translations</div>
                    </div>
                    <div class="icon">
                        <i class="fa fa-home"></i>
                    </div>
                </div>
                <div class="col-3 block">
                    <div class="info">
                        <div class="number">5000</div>
                        <div class="title"></div>
                    </div>
                    <div class="icon">
                        <i class="fa fa-home"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .mainDashboard {
        background-image: url("../imgs/dashbaord_bg.png");
    }
</style>
