<div class="home_dashboard">
    <div class="mainDashboard">
        <div class="dashBoardSelection">
            <div class="logo">
                <img src="imgs/logo.png" alt="#">
            </div>
            <hr class="hrHT">
            <a href="/">
                <div class="itemSelect itemSelect1">
                    <i class="fa-solid fa-house-chimney"></i>
                    <span>Dashboard</span>
                </div>
            </a>
            <a href="/profile">
                <div class="itemSelect itemSelect2 ">
                    <i class="fa-brands fa-trello"></i>
                    <span>Profile</span>
                </div>
            </a>
            <a href="/users">
                <div class="itemSelect itemSelect3 ">
                    <i class="fa-solid fa-user-group"></i>
                    <span>Users</span>
                </div>
            </a>
            <a href="/vehicles">
                <div class="itemSelect itemSelect3 ">
                    <i class="fa-solid fa-car-side"></i>
                    <span>Vehicles</span>
                </div>
            </a>
        </div>
        <div class="dashBoardView">
            <h3>Dashboard</h3>
        </div>
    </div>
</div>

<style>
    .mainDashboard {
        background-image: url("../imgs/dashbaord_bg.png");
    }
</style>
