<div class="home_dashboard">
    <div class="mainDashboard">
        <%- include('partials/sidebar') %>
        <div class="dashBoardView">
            <h3>Dashboard</h3>
        </div>
    </div>
</div>

<style>
    .mainDashboard {
        background-image: url("../imgs/dashbaord_bg.png");
    }
</style>
