<div class="home">
    <h1>Vehicle Registration System</h1>
    <div class="links">
        <a href="/login">Login</a>
        <a href="/signup">Signup</a>
    </div>
</div>
<style>
    body {
        background: white;
    }
</style>
