<div class="home">
    <img src="/imgs/logo_2.png" alt="Vehicle Registration System" title="Vehicle Registration System">
    <div class="links">
        <a class="btn btn-outline-info" href="/login">Login</a>
        <a class="btn btn-outline-info" href="/signup">Signup</a>
    </div>
</div>
<style>
    body {
        /*background: white;*/
    }
</style>
