<div class="vehicles add_vehicle">
    <div class="mainDashboard">
        <div class="dashBoardSelection">
            <div class="logo">
                <img src="/imgs/logo.png" alt="#">
            </div>
            <hr class="hrHT">
            <a href="/">
                <div class="itemSelect itemSelect1">
                    <i class="fa-solid fa-house-chimney"></i>
                    <span>Dashboard</span>
                </div>
            </a>
            <a href="/profile">
                <div class="itemSelect itemSelect2 ">
                    <i class="fa-brands fa-trello"></i>
                    <span>Profile</span>
                </div>
            </a>
            <a href="/users">
                <div class="itemSelect itemSelect3 ">
                    <i class="fa-solid fa-user-group"></i>
                    <span>Users</span>
                </div>
            </a>
            <a href="/vehicles">
                <div class="itemSelect itemSelect3 ">
                    <i class="fa-solid fa-car-side"></i>
                    <span>Vehicles</span>
                </div>
            </a>
        </div>
        <div class="dashBoardView">
            <div class="logo2">
                <div id="mySidenav" class="sidenav">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <a class="selectSide" href="#">Home</a>
                    <a class="selectSide" href="#">Dashboard</a>
                    <a class="selectSide" href="#">Profile</a>
                    <a href="#">Contact</a>
                </div>
                <span onclick="openNav()">
                    <div class="button_menu _s">
                        <span class="icon_menu"></span>
                    </div>
                </span>
                <a href="#" class="logo-click">
                    <img src="/imgs/logo.png" alt="#">
                </a>
            </div>
            <div class="topNav">
                <div class="topNavLeft">
                    <a href="/"><span>Dashboard</span></a>
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                    <a href="/vehicles"><span>Vehicles</span></a>
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                    <a href="/vehicles/add"><span>Add</span></a>
                </div>
                <div class="topNavRight">
                    <i class="fa-lg fa-regular fa-bell"></i>
                    <a href="/logout">
                        <i class="fa-lg fa fa-sign-out" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <hr class="viewHr">
            <form action="/vehicles/add" method="POST">
                <div class="title-and-button">
                    <h2>Add a new vehicle</h2>
                    <button type="submit" class="btnP1 btnP2">Save</button>
                </div>
                <div class="dashBoardParent">
                    <div class="dashBoardViewChild dashBoardViewChild3">
                        <div class="viewLeft viewLeftVehicle">
                            <div>General Information</div>
                            <hr class="hrHT">
                            <div class="inputBlock">
                                <div class="inputTitle">Owner Name</div>
                                <label>
                                    <input type="text" class="inputHT" name="" placeholder="Mina Sameh"/>
                                </label>
                            </div>
                            <div class="inputBlock">
                                <div class="inputTitle">Blocked</div>
                                <label class="switch">
                                    <input type="checkbox">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                        <div class="viewRight">
                            <div class="viewRightTop">
                                <div>General Information</div>
                                <hr class="hrHT">
                                <div class="inputBlock">
                                    <div class="inputTitle">Vehicle Name</div>
                                    <label>
                                        <input type="text" class="inputHT" name="vehicle_name" required
                                               placeholder="X1"/>
                                    </label>
                                </div>
                                <div class="inputBlock">
                                    <div class="inputTitle">Vehicle Type</div>
                                    <label>
                                        <input type="text" class="inputHT" name="vehicle_type" required
                                               placeholder="Hatchback"/>
                                    </label>
                                </div>
                                <div class="vehicleInfoBlock">
                                    <div class="vehicleInfoBlockLeft">
                                        <div class="inputBlock">
                                            <div class="inputTitle">Production Year</div>
                                            <label>
                                                <input type="number" class="inputHT" name="vehicle_production_year"
                                                       required
                                                       placeholder="2022"/>
                                            </label>
                                        </div>
                                        <div class="inputBlock">
                                            <div class="inputTitle">Motor Number</div>
                                            <label>
                                                <input type="number" class="inputHT" name="vehicle_motor_number"
                                                       required
                                                       placeholder="98423132"/>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="vehicleInfoBlockRight">
                                        <div class="inputBlock">
                                            <div class="inputTitle">Color</div>
                                            <label>
                                                <input type="text" class="inputHT" name="vehicle_color" required
                                                       placeholder="Black"/>
                                            </label>
                                        </div>
                                        <div class="inputBlock">
                                            <div class="inputTitle">Chassis Number</div>
                                            <label>
                                                <input type="number" class="inputHT" name="vehicle_chassis_number"
                                                       required
                                                       placeholder="8498998984"/>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
