<div class="signin">
    <div class="indexParent">
        <div class="leftIndex">
            <img src="imgs/gg1.png" alt="#" class="background0">
        </div>
        <div class="rightIndex">
            <div class="loginContainer">
                <div class="lables">
                    <h2 class="page0">Log in</h2>
                    <h1 class="page0">Welcome Back!</h1>
                </div>
                <form action="/login" method="POST">
                    <div class="emailAddress0">
                        <div>Email Address</div>
                        <label>
                            <input class="inputPage0" type="email" name="email" required
                                   placeholder="example@test.com"/>
                        </label>
                        <span><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
                    </div>
                    <div class="password0">
                        <div>Password</div>
                        <label>
                            <input class="inputPage0" type="password" name="password" required
                                   placeholder="example@test.com"/>
                        </label>
                        <span><i class="fa fa-eye-slash" aria-hidden="true"></i></span>
                    </div>
                    <div class="btn0">
                        <button type="submit">Log in</button>
                    </div>
                </form>
                <div class="createNewAccount">
                    <h5 class="page0h5">Don't have an account?</h5>
                    <a href="/signup">
                        <h5 class="page0h5">Create one now</h5>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>
