<div class="signup">
    <div class="indexParent">
        <div class="leftIndex">
            <img src="imgs/gg5.png" alt="#" class="background0">
        </div>
        <div class="rightIndex">
            <div class="loginContainer">
                <div class="lables">
                    <h2 class="page1">Sign up.</h2>
                    <h1 class="page1">Welcome!</h1>
                </div>
                <form action="/signup" method="POST">
                    <div class="signUP0">
                        <div>Full name (The first four names)</div>
                        <label>
                            <input class="inputPage0" type="text" name="full_name" required
                                   placeholder="Mina Sameh Lamei Farag"/>
                        </label>
                        <span><i class="fa-regular fa-circle-user"></i></span>
                    </div>
                    <div class="signUP0">
                        <div>Email Address</div>
                        <label>
                            <input class="inputPage0" type="email" name="email" required
                                   placeholder="example@test.com"/>
                        </label>
                        <span><i class="fa-regular fa-envelope"></i></span>
                    </div>
                    <div class="signUP0">
                        <div>National ID</div>
                        <label>
                            <input class="inputPage0" type="number" name="national_id"
                                   required placeholder="300010701xxxxx"/>
                        </label>
                        <span><i class="fa-solid fa-id-card"></i></span>
                    </div>
                    <div class="signUP0">
                        <div>Phone</div>
                        <label>
                            <input class="inputPage0" type="number" name="phone" required placeholder="01xxxxxxxxx"/>
                        </label>
                        <span><i class="fa-solid fa-phone"></i></span>
                    </div>
                    <div class="signUP0">
                        <div>Password</div>
                        <label>
                            <input class="inputPage0" type="password" name="password" required
                                   placeholder="●●●●●●●●●●●"/>
                        </label>
                        <span><i class="fa-regular fa-eye-slash"></i></span>
                    </div>
                    <div class="signUP0">
                        <div>Confirm Password</div>
                        <label>
                            <input class="inputPage0" type="password" name="confirm_password" required
                                   placeholder="●●●●●●●●●●●"/>
                        </label>
                        <span><i class="fa-regular fa-eye-slash"></i></span>
                    </div>
                    <!--                <div class="termsCondition">-->
                    <!--                    <label>-->
                    <!--                        <input type="checkbox" class="checkInputBtn">-->
                    <!--                    </label>-->
                    <!--                    <h5 class="termsCondition0">I agree to the</h5>-->
                    <!--                    <h5 class="termsCondition1">Terms and Conditions, Return Policy & Privacy Policy</h5>-->
                    <!--                </div>-->
                    <div class="btn0">
                        <button type="submit">Sign Up</button>
                    </div>
                </form>
                <div class="accountCheck">
                    <h5 class="page0h5">Have an account?</h5>
                    <a href="/login">
                        <h5 class="page0h5">Log in</h5>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
