<style>
    body {
        font-family: "Roboto", sans-serif;
        background-color: #33c9ae;
        min-height: 100vh;
    }
</style>
<div class="vehicles">
    <div class="mainDashboard">
        <%- include('../partials/sidebar') %>
        <div class="dashBoardView">
            <div class="logo2">
                <div id="mySidenav" class="sidenav">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <a class="selectSide" href="/">Dashboard</a>
                    <a class="selectSide" href="/manufacturers">Manufacturers</a>
                    <a href="#">Contact</a>
                </div>

                <span onclick="openNav()">
                    <div class="button_menu _s">
                        <span class="icon_menu"></span>
                    </div>
                </span>
                <a href="#" class="logo-click">
                    <img src="/imgs/logo.png" alt="#">
                </a>
            </div>
            <div class="topNav">
                <div class="topNavLeft">
                    <a href="/"><span>Dashboard</span></a>
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                    <a href="/manufacturers"><span>Manufacturers</span></a>
                </div>
                <div class="topNavRight">
                    <i class="fa-lg fa-regular fa-bell"></i>
                    <a href="/logout">
                        <i class="fa-lg fa fa-sign-out" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <hr class="viewHr">
            <div class="title-and-button">
                <h2>Manufacturers</h2>
            </div>

            <div class="dashBoardParent">
                <div class="dashBoardViewChild dashBoardViewChild4">
                    <div class="table-container">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Manufacturer Name</th>
                                <th scope="col">User Name</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th>BMW</th>
                                <td>Ahmed Badr</td>
                            </tr>
                            <tr>
                                <th>Kia</th>
                                <td>Youssef Mahmoud</td>
                            </tr>
                            <tr>
                                <th>Mercedes</th>
                                <td>Mina Sameh</td>
                            </tr>
                            <tr>
                                <th>Toyota</th>
                                <td>George Youssef</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
